<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GalleryMenu</key>
	<dict>
		<key>Single</key>
		<array>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>name</key>
				<string>style</string>
				<key>title</key>
				<string>风格</string>
				<key>items</key>
				<array>
					<dict>
						<key>title</key>
						<string>全部</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>现代</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>欧式</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>北欧</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>简约</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>中式</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>地中海</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>日式</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>美式</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>混搭</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>新古典</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>田园</string>
						<key>selected</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>name</key>
				<string>space</string>
				<key>title</key>
				<string>空间</string>
				<key>items</key>
				<array>
					<dict>
						<key>title</key>
						<string>全部</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>客厅</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>卧室</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>书房</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>儿童房</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>厨房</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>餐厅</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>玄关</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>卫生间</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>衣帽间</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>阳台</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>花园</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>阁楼</string>
						<key>selected</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>name</key>
				<string>part</string>
				<key>title</key>
				<string>局部</string>
				<key>items</key>
				<array>
					<dict>
						<key>title</key>
						<string>全部</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>衣柜</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>橱柜</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>鞋柜</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>背景墙</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>吊顶</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>楼梯</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>隐形门</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>榻榻米</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>相片墙</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>飘窗</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>吧台</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>隔断</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>窗帘</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>窗户</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>书架</string>
						<key>selected</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>name</key>
				<string>color</string>
				<key>title</key>
				<string>色系</string>
				<key>items</key>
				<array>
					<dict>
						<key>title</key>
						<string>全部</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>白色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>米黄色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>黄色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>橘黄色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>红色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>绿色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>蓝色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>紫色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>咖啡色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>黑色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>灰色</string>
						<key>selected</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
		<key>Multi</key>
		<array>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>name</key>
				<string>style</string>
				<key>title</key>
				<string>风格</string>
				<key>items</key>
				<array>
					<dict>
						<key>title</key>
						<string>全部</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>现代</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>欧式</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>北欧</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>简约</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>中式</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>地中海</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>日式</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>美式</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>混搭</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>新古典</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>田园</string>
						<key>selected</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>name</key>
				<string>size</string>
				<key>title</key>
				<string>户型</string>
				<key>items</key>
				<array>
					<dict>
						<key>title</key>
						<string>全部</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>一居</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>二居</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>三居</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>别墅</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>公寓</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>复式</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>小户型</string>
						<key>selected</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>name</key>
				<string>color</string>
				<key>title</key>
				<string>色系</string>
				<key>items</key>
				<array>
					<dict>
						<key>title</key>
						<string>全部</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>白色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>米黄色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>黄色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>橘黄色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>红色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>绿色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>蓝色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>紫色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>咖啡色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>黑色</string>
						<key>selected</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>灰色</string>
						<key>selected</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>HomeMenu</key>
	<array>
		<string>准备阶段</string>
		<string>拆改阶段</string>
		<string>水电阶段</string>
		<string>泥木阶段</string>
		<string>油漆阶段</string>
		<string>竣工验收</string>
		<string>软装阶段</string>
		<string>心得专区</string>
	</array>
</dict>
</plist>
